# vim:ft=kitty
## name: {{theme}} {{plt}}
## author: {{author}}
## license: MIT
## upstream: https://raw.githubusercontent.com/OneiroiTheme/kitty/main/{{theme}}_{{plt}}.conf
## blurb: A fancy, pink-on-black theme

foreground                      {{fg}}
background                      {{bg}}
selection_foreground            {{bg}}
selection_background            {{prims}}

cursor                          {{prim}}
cursor_text_color               {{bg}}

#: black
color0 {{bg}}
color8 {{bgs}}

#: red
color1 {{reds}}
color9 {{red}}

#: green
color2  {{gres}}
color10 {{gre}}

#: yellow
color3  {{yels}}
color11 {{yel}}

#: blue
color4  {{blus}}
color12 {{blu}}

#: magenta
color5  {{purs}}
color13 {{pur}}

#: cyan
color6  {{aqus}}
color14 {{aqu}}

#: white
color7  {{fgs}}
color15 {{fg}}
