# vim:ft=kitty
## name: {{plt.theme}} {{plt.plt}}
## author: {{port.author.name}}
## license: MIT
## upstream: https://raw.githubusercontent.com/{{port.repository.publisher}}/{{port.repository.repo}}/main/{{plt.theme}}_{{plt.plt}}.conf
## blurb: {{port.blurb}}

foreground                      {{tm.foreground}}
background                      {{tm.background}}
selection_foreground            {{tm.foreground}}
selection_background            {{tm.selection}}

cursor                          {{tm.caret}}
cursor_text_color               {{tm.background}}

#: black
color0 {{ansi.blk}}
color8 {{ansi.gra}}

#: red
color1 {{ansi.red}}
color9 {{ansi.rrd}}

#: green
color2  {{ansi.grn}}
color10 {{ansi.ggn}}

#: yellow
color3  {{ansi.yel}}
color11 {{ansi.yyl}}

#: blue
color4  {{ansi.blu}}
color12 {{ansi.bbl}}

#: magenta
color5  {{ansi.mag}}
color13 {{ansi.mmg}}

#: cyan
color6  {{ansi.cya}}
color14 {{ansi.ccy}}

#: white
color7  {{ansi.wht}}
color15 {{ansi.wwt}}
